<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="<%=reqURL%>/css/output.css" rel="stylesheet">
		<title>Books</title>
	</head>
	<body>
		<%- include('./partials/header') %>
		<% for(var i=0; i < books.length; i++) { %>
			<div>
			  <h1><%= books[i].Title %></h1>
			  <p><%= books[i].Author %></p>
			</div>
		 <% } %>
		<%- include('./partials/footer') %>
	</body>
</html>
