<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
		<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
		<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
		<script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
		<script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
		<script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
		<script defer src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
		<script defer src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
  		<script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
		<link href="<%=reqURL%>/css/output.css" rel="stylesheet" />
		<script defer src="/javascript/fileUpload.js"></script>
		<title><%= action %> Book</title>
	</head>
	<body class="h-screen w-full flex flex-col">
		<%- include('./partials/header') %>
		<div
			class="h-screen w-full bg-gradient-to-r from-sky-300 to-pink-200 flex items-center justify-center">
			<div
				class="bg-white w-full lg:h-max lg:w-1/2 mx-auto rounded-lg shadow-xl z-50 overflow-y-auto">
				<div class="bg-gray-200 py-5 px-8 text-2xl font-bold text-purple-800">
					<%= action %> Book
				</div>
				<div class="p-8">
				<% if (action == "Edit") { %>
					<form method="POST" action="?_method=PUT" class="grid grid-cols-4 grid-row-4 gap-4 bg-sky-100 p-5 rounded-lg">
						<input type="hidden" name="_method" value="PUT">
				<% } else { %>
					<form action="/books" method="POST" class="grid grid-cols-4 grid-row-4 gap-4 bg-sky-100 p-5 rounded-lg">
				<% } %>
						<div class="flex flex-col col-span-2 gap-2">
							<label class="block text-sm font-medium leading-6 text-gray-900"
								>Title</label
							>
							<% if (action == "Edit") { %>
							<input
								class="px-2"
								type="text"
								name="Title"
								value="<%= book.Title %>" />
							<% } else { %>
							<input
								class="px-2"
								type="text"
								name="Title"
								placeholder="Title of Book" />
							<% } %>
						</div>
						<div class="flex flex-col col-span-2 gap-2">
							<label class="block text-sm font-medium leading-6 text-gray-900"
								>Author</label
							>
							<% if (action == "Edit") { %>
							<input
								class="px-2"
								type="text"
								name="Author"
								value="<%= book.Author %>" />
							<% } else { %>
							<input
								class="px-2"
								type="text"
								name="Author"
								placeholder="Author Name of Book" />
							<% } %>
						</div>

						<div class="col-span-2">
							<label
								for="cover-photo"
								class="block text-sm font-medium leading-6 text-gray-900"
								>Cover</label
							>
							<div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-6">
								<label
									for="file-upload"
									class="w-full h-full relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
									<input
										class="filepond"
										id="file-upload"
										name="Image"
										type="file"
										data-max-file-size="3MB"/>
								</label>
							</div>
						</div>

						<div class="flex flex-col col-span-2 gap-2">
							<div class="flex flex-col col-span-2 gap-2">
								<label class="block text-sm font-medium leading-6 text-gray-900"
									>Description</label
								>
								<% if (action == "Edit") { %>
								<textarea
									class="px-2"
									name="Description"
									><%= book.Description %></textarea>
								<% } else { %>
								<textarea
									class="px-2"
									type="text"
									name="Description"
									placeholder="Description of Book"></textarea>
								<% } %>
							</div>

							<div class="flex flex-col gap-2">
								<label class="block text-sm font-medium leading-6 text-gray-900"
									>Genre</label
								>
								<select name="Genre" id="genre" class="overflow-y-auto">
									<% var genrelist = ["Drama", "Documentary", "Mystery", "Thriller", "Comedy", "Fantasy", "Classic", "Romance", "Horror", "SciFi", "History", "Spiritual", "Action", "Manga", "Science", "Children"]; %>
									<% for(var i=0; i < genrelist.length; i++) { %>
										<% var isSelected = "" %>
										<% if (action == "Edit") { %>
											<% isSelected = (genrelist[i] == book.Genre)? "selected" : ""; %>
										<% } %>
										<option value="<%= genrelist[i] %>" <%= isSelected %>><%= genrelist[i] %></option>
									 <% } %>
								</select>
							</div>
							<div class="flex flex-col gap-2">
								<label class="block text-sm font-medium leading-6 text-gray-900"
									>Page Count</label
								>
								<% if (action == "Edit") { %>
								<input
									class="px-2"
									type="text"
									name="PageCount"
									value="<%= book.PageCount %>" />
								<% } else { %>
								<input
									class="px-2"
									type="text"
									name="PageCount"
									placeholder="Page Count of Book" />
								<% } %>
							</div>
						</div>

						<div
							class="col-span-4 py-5 px-8 text-lg flex justify-center space-x-2">
							<a
								href="/books"
								class="w-20 bg-amber-500 text-center text-white p-2 mx-2 rounded-lg hover:bg-yellow-800"
								>Cancel</a
							>
							<a
								><button
									type="submit"
									class="w-20 bg-green-600 text-center text-white p-2 mx-2 rounded-lg hover:bg-green-900">
									Submit
								</button></a
							>
						</div>
					</form>
				</div>
			</div>
		</div>
		<%- include('./partials/footer') %>
	</body>
</html>
