<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="<%=reqURL%>/css/output.css" rel="stylesheet" />
		<title>Books</title>
	</head>
	<body class="min-h-screen flex flex-col">
		<%- include('./partials/header') %>
		<div class="flex-1 grid grid-cols-4 gap-4 bg-gradient-to-b from-gray-300 to-white">
			<% if (books.length === 0) { %>
				<h2 class="text-white col-span-4 self-center justify-self-center text-4xl"> No book is added, please add a book.</h2>
			<% } else { %>
				<% for(var i=0; i < books.length; i++) { %>
					<div class="relative space-y-2 max-w-sm rounded overflow-hidden shadow-lg text-wrap text-center m-10 p-6 bg-slate-300 border border-gray-200 hover:bg-slate-400 cursor-pointer">
						<img class="w-full h-3/4" src=<%= books[i].cover %> alt="">
						<h1 class="font-bold text-xl text-cyan-800"><%= books[i].Title %></h1>
						<p class="text-lg text-green-800"><%= books[i].Author %></p>
						<a class="absolute bottom-1 right-1 p-2 text-sm font-medium text-center text-white bg-blue-700 hover:bg-blue-800 rounded-lg" href=<%= '/books/' + books[i]._id %>>View</a>
					</div>
				<% } %>
			<% } %>
		</div>
		<%- include('./partials/footer') %>
	</body>
</html>
