<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="<%=reqURL%>/css/output.css" rel="stylesheet" />
		<title>Books</title>
	</head>
	<body class="h-screen w-full flex flex-col">
		<%- include('./partials/header') %>
		<div class="h-screen w-full bg-gradient-to-b from-gray-300 to-white">
            <div class="h-4/5 rounded-xl flex flex-col space-y-4 items-start overflow-hidden shadow-lg text-wrap text-center m-10 p-6 bg-slate-300 border border-gray-200 hover:bg-slate-400 cursor-pointer">
                <div class="w-full grid grid-cols-4">
                    <h1 class="font-bold text-xl text-cyan-800 self-center"><%= book.Title %></h1>
                    <ul class="col-span-3 flex justify-self-end">
                        <li><button class="w-20 bg-blue-700 text-white p-2 mx-2 rounded-lg hover:bg-blue-800">Edit</button></li>
                        <li>
                            <form method="POST" action="?_method=DELETE">
                                <input type="hidden" name="_method" value="DELETE">
                                <button class="w-20 bg-red-800 text-white p-2 mx-2 rounded-lg hover:bg-red-900" type="submit">Delete</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="w-full flex-1 grid grid-cols-4 space-x-4">
                    <img class="w-3/4 col-span-1 justify-self-center self-center max-h-full object-contain" src=<%= reqURL + '/images/' + book.Image %> alt="">
                    <div class="col-start-2 col-span-3 flex flex-col space-y-2">
                        <div class="flex space-x-2">
                            <h2>Author:</h2>
                            <span class="text-lg text-green-800 text-start"><%= book.Author %></span>
                        </div>
                        <div class="flex space-x-2">
                            <h2>Genre:</h2>
                            <span class="text-lg text-green-800 text-start"><%= book.Genre %></span>
                        </div>
                        <div class="flex space-x-2">
                            <h2>Page Count:</h2>
                            <span class="text-lg text-green-800 text-start"><%= book.PageCount %></span>
                        </div>
                        <div class="flex space-x-2">
                            <h2>Description:</h2>
                            <span class="text-lg text-green-800 text-start"><%= book.Description %></span>
                        </div>
                    </div>
                </div>
            </div>
            <a class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg font-medium text-sm m-10 p-2" href="/books">Back</a>
		</div>
		<%- include('./partials/footer') %>
	</body>
</html>
